{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/add.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
    <div class="formwrapper">
        <form method="POST" action="{{url_for('add')}}">
            <fieldset class="form-field">
                {{ form.description.label }}
                {{ form.description }}
                {% if form.description.errors %}
                <ul class="errors">
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>

            <fieldset class="form-field">
                {{ form.project.label }}
                {{ form.project }}
                {% if form.project.errors %}
                <ul class="errors">
                    {% for error in form.project.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>

            <fieldset class="form-field">
                {{ form.due.label }}
                {{ form.due }}
                {% if form.due.errors %}
                <ul class="errors">
                    {% for error in form.due.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    </div>
{% endblock %}

